In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/clean_transactions.csv")
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,30.0

In [2]:
snapshot_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)
snapshot_date

Timestamp('2010-12-10 20:01:00')

In [3]:
rfm = df.groupby('Customer ID').agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'Invoice': 'nunique',
    'TotalPrice': 'sum'
}).reset_index()

rfm.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']
rfm.head()

   CustomerID  Recency  Frequency  Monetary
0       12346      165         11    372.86
1       12347        3          2   1323.32
2       12348       74          1    222.16
3       12349       43          3   2671.14
4       12351       11          1    300.93

In [4]:
rfm.describe()

         CustomerID      Recency    Frequency       Monetary
count   4312.000000  4312.000000  4312.000000    4312.000000
mean   15349.290353    91.171846     4.455705    2048.238236
std     1701.200176    96.860633     8.170213    8914.481280
min    12346.000000     1.000000     1.000000       2.950000
25%    13882.500000    18.000000     1.000000     307.987500
50%    15350.500000    53.000000     2.000000     706.020000
75%    16834.250000   136.000000     5.000000    1723.142500
max    18287.000000   374.000000   205.000000  349164.350000

In [5]:
rfm.to_csv("../data/processed/rfm.csv", index=False)

In [6]:
rfm.head()

   CustomerID  Recency  Frequency  Monetary
0       12346      165         11    372.86
1       12347        3          2   1323.32
2       12348       74          1    222.16
3       12349       43          3   2671.14
4       12351       11          1    300.93